.pagination {
    margin: 15px 0;
    cursor: pointer;
    user-select: none;
}

.pagination .page-link{
    background-color: #323432;
}

.page-item.active .page-link{
    background-color: #222;
}

.pagination .page-item.disabled .page-link{
    background-color: #323432;
    opacity: 0.5;
}
